
@media only screen and (max-width: 4000px) {
  body {
	background-image: url(images/pattern-background-desktop.svg);
  }
  div.card {
	margin-top: 20vh;
  }
}

@media only screen and (max-width: 375px) {
  body {
	background-image: url(images/pattern-background-mobile.svg);
  }
  div.card {
	margin-top: 6vh;
  }
}

body {
	display: flex;
	justify-content: center;
	background-repeat:no-repeat;
	background-size: contain;
    background-size: cover;	  
	background-position: bottom; 
	font-family: 'Red Hat Display', sans-serif;
}

div.card {
	width: 40%;
	max-width: 160px;
	min-width: 340px;
	border-radius: 20px;
	background-color: white;
}

.image {
	width: 100%;
	height: auto;
	border-radius: 20px 20px 0 0;
}

div.main {
	padding: 20px;
}

.title, .description {
	text-align: center;
	margin-top: 0.05%;
	font-size: 25px;
}

.title {
	font-weight: 8px;
}

.description {
	font-size: 90%;
	color: hsl(224, 23%, 55%);
	margin-bottom: 20px;
	margin-top: -5px;
}

img.music-icon,
div.plan-details,
a.change-plan {
	display: inline-block;
}

div.plan {
	height: 80px;
	display: flex;
	background-color: hsl(225, 100%, 98%);
	border-radius: 10px;
	flex-direction: row;
	/* justify-content: space-evenly; */
	align-items: center;
	padding: none;
	margin-bottom: 25px;
}

img.music-icon {
	height: 40px;
	width: auto;
	margin-left: 25px;
}

div.plan-details {
	height: 80px;
	padding-top: 15px;
}

.plan-details-price, 
.plan-details-name {
	margin-top: 9px;
	margin-left: 18px;
	font-size: 90%;
}

.plan-details-name {
	margin-bottom: -10px;
	margin-top: 10px;
	padding-bottom: 6px;
}

.plan-details-price {
	color: hsl(224, 23%, 55%);
}

a.change-plan {
margin-left: 70px;
font-size: 80%;
text-decoration: underline;
color: hsl(245, 75%, 52%);
font-weight: bolder;
}

a.change-plan:hover {
	cursor: pointer;
	color: #746bf1;
}

button {
	font-family: 'Red Hat Display', sans-serif;
	background-color: hsl(245, 75%, 52%);
	color: white;
	border-radius: 10px;
	border: 0px;
	padding: 15px 20px;
	box-shadow: 0px 9px 15px hsl(244, 23%, 75%);
	font-size: 14px;
}

button:hover {
	cursor: pointer;
	background-color: #746bf1;
	box-shadow: 0px 9px 15px hsl(244, 33%, 75%);
}

div.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a.cancel-order {
	text-decoration: none;
	text-align: center;
	margin-top: 30px;
	color: hsl(224, 23%, 55%);
	font-size: 14px;
	font-style: bolder;
	font-weight: 9px;
}

a.cancel-order:hover {
	cursor: pointer;
	color: black;
}
